{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if "\x3ch1" not in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
<div class="md-author">
  <img src="https://avatars.githubusercontent.com/NekoMirra?s=32" alt="NekoMirra" width="22" height="22" style="border-radius:50%;vertical-align:middle;margin-right:6px;" />
  <a href="https://github.com/NekoMirra" style="color:inherit;text-decoration:none;">NekoMirra</a>
</div>
{{ page.content }}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
